/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rock+Salt&family=Signika+Negative&display=swap');
/* end imporated fonts */

/* start text */
*{
    font-family: 'Roboto Slab', serif;
}

h1, h2, h4 {
    font-family: 'Signika Negative', sans-serif;
    text-transform: capitalize;
}
/* end text */

/* start hero */
#hero h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 85px;
    text-align: center;
}

#hero h2 {
    font-size: 30px;
    text-align: center;
}

#hero {
    background-image: url(images/DogsWalking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position:relative
}

#hero ::before {
    position: fixed;
    background-color: rgb(0, 0, 0);
}
/* end hero */

/* start nav */

/* end nav */


img {
    height:450px;
    width:auto
}