/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rock+Salt&family=Signika+Negative&display=swap');
/* end imporated fonts */

/* images */
img {
    height: 450px;
    width: auto
}
/* end images */
/* start text */
*{
    font-family: 'Roboto Slab', serif;
    border: #000000;
}

h1, h2, h4 {
    font-family: 'Signika Negative', sans-serif;
    text-transform: capitalize;
}

h4 {
    font-size: 50px;
}
/* end text */


/* start hero */
#hero h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 85px;
    text-align: center;
    color: white;
    padding-top: 0%;
}

#hero h2 {
    font-size: 30px;
    text-align: center;
    color: white;
}

#hero {
    background-image: url(images/DogsWalking.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100vw;
    position: relative;
    background-position: 50% 50%;
}

#overlay div {
    position: absolute;
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: hsla(60, 72%, 76%, 25%); */
    background-color: hsl(0, 0%, 0%, 40%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* end hero */


/* start nav */

.nav a {
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    font-size: 65px;
    text-align: center;
    padding: 25px;
    position: relative;

}

.nav {
    width: fit-content;
    margin:auto;
    padding: 20px;
    padding-top: 40%;
}
/* end nav */

/* start methodology section */
 /* #methodology img {
    display: inline;
    padding: 20px;
 }

 #goldens {
    float:left;
 }

 #tito {
    float:right;
 }

 #terriers {
    position: relative;
    margin:auto
 } */

/* end methodology section */

img {
    height:450px;
    width:auto
}